# Data from https://github.com/CSSEGISandData/COVID-19

In [25]:
import pandas as pd
from sqlalchemy import create_engine

In [26]:
#data
confirmed = "assets/data/time_series_19-covid-Confirmed.csv"
deaths = "assets/data/time_series_19-covid-Deaths.csv"
recovered = "assets/data/time_series_19-covid-Recovered.csv"

In [27]:
# create data frames
confirmed_df = pd.read_csv(confirmed)
deaths_df = pd.read_csv(deaths)
recovered_df = pd.read_csv(recovered)
confirmed_df.head(10)
# tot_locations = len(confirmed_df)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,53,59,70,75,82,114,147,177,212,272
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,581,639,639,701,773,839,825,878,889,924
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,160,178,178,200,212,226,243,266,313,345
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,129,149,149,197,238,428,566,673,790,900
5,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,32,39,46,64,64,73,103,103,186,231
6,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,55,65,65,92,112,134,171,210,267,307
7,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,18,21,21,36,49,57,71,94,121,121
8,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,18,20,20,35,46,61,68,78,94,144
9,NaN,Cambodia,11.5500,104.9167,0,0,0,0,0,1,...,2,3,3,5,7,7,7,33,35,37

In [28]:
# Reset Index to have ID column
confirmed_df.reset_index(inplace=True)
confirmed_df.head()

,index,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,...,53,59,70,75,82,114,147,177,212,272
1,1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,...,581,639,639,701,773,839,825,878,889,924
2,2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,...,160,178,178,200,212,226,243,266,313,345
3,3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,...,1,1,1,1,1,1,1,1,1,1
4,4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,...,129,149,149,197,238,428,566,673,790,900

In [29]:
# Rename to ID column
confirmed_df = confirmed_df.rename(columns={"index":"id"})
confirmed_df.head()

,id,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,...,53,59,70,75,82,114,147,177,212,272
1,1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,...,581,639,639,701,773,839,825,878,889,924
2,2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,...,160,178,178,200,212,226,243,266,313,345
3,3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,...,1,1,1,1,1,1,1,1,1,1
4,4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,...,129,149,149,197,238,428,566,673,790,900

In [30]:
#Transpose Columns to get Dates as Row Values
df_melt = confirmed_df.melt(id_vars=['id','Province/State','Country/Region','Lat','Long'])
df_melt.columns = ['id','Province/State','Country/Region','Lat','Long','Date','confirmed_to_date']
df_melt['Date'] = pd.to_datetime(df_melt['Date'])
df_melt = df_melt.sort_values(['Date','id'])
df_melt['Count_Prev_Day'] = df_melt.sort_values('Date').groupby(['id','Province/State','Country/Region',
                                                                 'Lat','Long'])['confirmed_to_date'].shift(1)
df_melt[['Count_Prev_Day']] = df_melt[['Count_Prev_Day']].fillna(value=0)
df_melt['new_confirmed'] = df_melt['confirmed_to_date'] - df_melt['Count_Prev_Day']

df_melt.head()

,id,Province/State,Country/Region,Lat,Long,Date,confirmed_to_date,Count_Prev_Day,new_confirmed
0,0,NaN,Thailand,15.0000,101.0000,2020-01-22,2,0.0,2.0
1,1,NaN,Japan,36.0000,138.0000,2020-01-22,2,0.0,2.0
2,2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0.0,0.0
3,3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0.0,0.0
4,4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0.0,0.0

In [31]:
#Check one location to make sure daily count working correctly
df_melt[df_melt['Province/State'] == 'Beijing'].sort_values('Date')

,id,Province/State,Country/Region,Lat,Long,Date,confirmed_to_date,Count_Prev_Day,new_confirmed
171,171,Beijing,China,40.1824,116.4142,2020-01-22,14,0.0,14.0
639,171,Beijing,China,40.1824,116.4142,2020-01-23,22,14.0,8.0
1107,171,Beijing,China,40.1824,116.4142,2020-01-24,36,22.0,14.0
1575,171,Beijing,China,40.1824,116.4142,2020-01-25,41,36.0,5.0
2043,171,Beijing,China,40.1824,116.4142,2020-01-26,68,41.0,27.0
2511,171,Beijing,China,40.1824,116.4142,2020-01-27,80,68.0,12.0
2979,171,Beijing,China,40.1824,116.4142,2020-01-28,91,80.0,11.0
3447,171,Beijing,China,40.1824,116.4142,2020-01-29,111,91.0,20.0
3915,171,Beijing,China,40.1824,116.4142,2020-01-30,114,111.0,3.0
4383,171,Beijing,China,40.1824,116.4142,2020-01-31,139,114.0,25.0
4851,171,Beijing,China,40.1824,116.4142,2020-02-01,168,139.0,29.0
5319,171,Beijing,China,40.1824,116.4142,2020-02-02,191,168.0,23.0
5787,171,Beijing,China,40.1824,116.4142,2020-02-03,212,191.0,21.0
6255,171,Beijing,China,40.1824,116.4142,2020-02-04,228,212.0,16.0
6723,171,Beijing,China,40.1824,116.4142,2020-02-05,253,228.0,25.0
7191,171,Beijing,China,40.1824,116.4142,2020-02-06,274,253.0,21.0
7659,171,Beijing,China,40.1824,116.4142,2020-02-07,297,274.0,23.0
8127,171,Beijing,China,40.1824,116.4142,2020-02-08,315,297.0,18.0
8595,171,Beijing,China,40.1824,116.4142,2020-02-09,326,315.0,11.0
9063,171,Beijing,China,40.1824,116.4142,2020-02-10,337,326.0,11.0
9531,171,Beijing,China,40.1824,116.4142,2020-02-11,342,337.0,5.0
9999,171,Beijing,China,40.1824,116.4142,2020-02-12,352,342.0,10.0
10467,171,Beijing,China,40.1824,116.4142,2020-02-13,366,352.0,14.0
10935,171,Beijing,China,40.1824,116.4142,2020-02-14,372,366.0,6.0
11403,171,Beijing,China,40.1824,116.4142,2020-02-15,375,372.0,3.0
11871,171,Beijing,China,40.1824,116.4142,2020-02-16,380,375.0,5.0
12339,171,Beijing,China,40.1824,116.4142,2020-02-17,381,380.0,1.0
12807,171,Beijing,China,40.1824,116.4142,2020-02-18,387,381.0,6.0
13275,171,Beijing,China,40.1824,116.4142,2020-02-19,393,387.0,6.0
13743,171,Beijing,China,40.1824,116.4142,2020-02-20,395,393.0,2.0
14211,171,Beijing,China,40.1824,116.4142,2020-02-21,396,395.0,1.0
14679,171,Beijing,China,40.1824,116.4142,2020-02-22,399,396.0,3.0
15147,171,Beijing,China,40.1824,116.4142,2020-02-23,399,399.0,0.0
15615,171,Beijing,China,40.1824,116.4142,2020-02-24,399,399.0,0.0
16083,171,Beijing,China,40.1824,116.4142,2020-02-25,400,399.0,1.0
16551,171,Beijing,China,40.1824,116.4142,2020-02-26,400,400.0,0.0
17019,171,Beijing,China,40.1824,116.4142,2020-02-27,410,400.0,10.0
17487,171,Beijing,China,40.1824,116.4142,2020-02-28,410,410.0,0.0
17955,171,Beijing,China,40.1824,116.4142,2020-02-29,411,410.0,1.0
18423,171,Beijing,China,40.1824,116.4142,2020-03-01,413,411.0,2.0
18891,171,Beijing,China,40.1824,116.4142,2020-03-02,414,413.0,1.0
19359,171,Beijing,China,40.1824,116.4142,2020-03-03,414,414.0,0.0
19827,171,Beijing,China,40.1824,116.4142,2020-03-04,418,414.0,4.0
20295,171,Beijing,China,40.1824,116.4142,2020-03-05,418,418.0,0.0
20763,171,Beijing,China,40.1824,116.4142,2020-03-06,422,418.0,4.0
21231,171,Beijing,China,40.1824,116.4142,2020-03-07,426,422.0,4.0
21699,171,Beijing,China,40.1824,116.4142,2020-03-08,428,426.0,2.0
22167,171,Beijing,China,40.1824,116.4142,2020-03-09,428,428.0,0.0
22635,171,Beijing,China,40.1824,116.4142,2020-03-10,429,428.0,1.0
23103,171,Beijing,China,40.1824,116.4142,2020-03-11,435,429.0,6.0
23571,171,Beijing,China,40.1824,116.4142,2020-03-12,435,435.0,0.0
24039,171,Beijing,China,40.1824,116.4142,2020-03-13,436,435.0,1.0
24507,171,Beijing,China,40.1824,116.4142,2020-03-14,437,436.0,1.0
24975,171,Beijing,China,40.1824,116.4142,2020-03-15,442,437.0,5.0
25443,171,Beijing,China,40.1824,116.4142,2020-03-16,452,442.0,10.0
25911,171,Beijing,China,40.1824,116.4142,2020-03-17,456,452.0,4.0
26379,171,Beijing,China,40.1824,116.4142,2020-03-18,469,456.0,13.0
26847,171,Beijing,China,40.1824,116.4142,2020-03-19,480,469.0,11.0

In [32]:
#Drop Count Prev Day column
confirmed_df = df_melt.drop(columns=['Count_Prev_Day'])
confirmed_df.head()

,id,Province/State,Country/Region,Lat,Long,Date,confirmed_to_date,new_confirmed
0,0,NaN,Thailand,15.0000,101.0000,2020-01-22,2,2.0
1,1,NaN,Japan,36.0000,138.0000,2020-01-22,2,2.0
2,2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0.0
3,3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0.0
4,4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0.0

In [33]:
#Reset index to have ID column
recovered_df.reset_index(inplace=True)
recovered_df.head()

,index,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,...,33,34,34,35,35,35,35,41,42,42
1,1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,...,101,118,118,118,118,118,144,144,144,150
2,2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,...,78,96,96,97,105,105,109,114,114,114
3,3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,...,24,26,26,26,35,42,42,49,60,75

In [34]:
#Rename to have id column
recovered_df = recovered_df.rename(columns={"index":"id"})
recovered_df.head()

,id,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,...,33,34,34,35,35,35,35,41,42,42
1,1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,...,101,118,118,118,118,118,144,144,144,150
2,2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,...,78,96,96,97,105,105,109,114,114,114
3,3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,...,24,26,26,26,35,42,42,49,60,75

In [35]:
#transpose date columns to row values
df_melt = recovered_df.melt(id_vars=['id','Province/State','Country/Region','Lat','Long'])
df_melt.columns = ['id','Province/State','Country/Region','Lat','Long','Date','recovered_to_date']
df_melt['Date'] = pd.to_datetime(df_melt['Date'])
df_melt = df_melt.sort_values(['Date','id'])
df_melt['Count_Prev_Day'] = df_melt.sort_values('Date').groupby(['id','Province/State','Country/Region',
                                                                 'Lat','Long'])['recovered_to_date'].shift(1)
df_melt[['Count_Prev_Day']] = df_melt[['Count_Prev_Day']].fillna(value=0)
df_melt['new_recovered'] = df_melt['recovered_to_date'] - df_melt['Count_Prev_Day']

df_melt.head()

,id,Province/State,Country/Region,Lat,Long,Date,recovered_to_date,Count_Prev_Day,new_recovered
0,0,NaN,Thailand,15.0000,101.0000,2020-01-22,0,0.0,0.0
1,1,NaN,Japan,36.0000,138.0000,2020-01-22,0,0.0,0.0
2,2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0.0,0.0
3,3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0.0,0.0
4,4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0.0,0.0

In [36]:
#Filter on one location to make sure working correctly
df_melt[df_melt['Province/State'] == 'Beijing'].sort_values('Date')

,id,Province/State,Country/Region,Lat,Long,Date,recovered_to_date,Count_Prev_Day,new_recovered
171,171,Beijing,China,40.1824,116.4142,2020-01-22,0,0.0,0.0
639,171,Beijing,China,40.1824,116.4142,2020-01-23,0,0.0,0.0
1107,171,Beijing,China,40.1824,116.4142,2020-01-24,1,0.0,1.0
1575,171,Beijing,China,40.1824,116.4142,2020-01-25,2,1.0,1.0
2043,171,Beijing,China,40.1824,116.4142,2020-01-26,2,2.0,0.0
2511,171,Beijing,China,40.1824,116.4142,2020-01-27,2,2.0,0.0
2979,171,Beijing,China,40.1824,116.4142,2020-01-28,4,2.0,2.0
3447,171,Beijing,China,40.1824,116.4142,2020-01-29,4,4.0,0.0
3915,171,Beijing,China,40.1824,116.4142,2020-01-30,4,4.0,0.0
4383,171,Beijing,China,40.1824,116.4142,2020-01-31,5,4.0,1.0
4851,171,Beijing,China,40.1824,116.4142,2020-02-01,9,5.0,4.0
5319,171,Beijing,China,40.1824,116.4142,2020-02-02,9,9.0,0.0
5787,171,Beijing,China,40.1824,116.4142,2020-02-03,12,9.0,3.0
6255,171,Beijing,China,40.1824,116.4142,2020-02-04,23,12.0,11.0
6723,171,Beijing,China,40.1824,116.4142,2020-02-05,24,23.0,1.0
7191,171,Beijing,China,40.1824,116.4142,2020-02-06,31,24.0,7.0
7659,171,Beijing,China,40.1824,116.4142,2020-02-07,33,31.0,2.0
8127,171,Beijing,China,40.1824,116.4142,2020-02-08,34,33.0,1.0
8595,171,Beijing,China,40.1824,116.4142,2020-02-09,37,34.0,3.0
9063,171,Beijing,China,40.1824,116.4142,2020-02-10,44,37.0,7.0
9531,171,Beijing,China,40.1824,116.4142,2020-02-11,48,44.0,4.0
9999,171,Beijing,China,40.1824,116.4142,2020-02-12,56,48.0,8.0
10467,171,Beijing,China,40.1824,116.4142,2020-02-13,69,56.0,13.0
10935,171,Beijing,China,40.1824,116.4142,2020-02-14,80,69.0,11.0
11403,171,Beijing,China,40.1824,116.4142,2020-02-15,98,80.0,18.0
11871,171,Beijing,China,40.1824,116.4142,2020-02-16,108,98.0,10.0
12339,171,Beijing,China,40.1824,116.4142,2020-02-17,114,108.0,6.0
12807,171,Beijing,China,40.1824,116.4142,2020-02-18,122,114.0,8.0
13275,171,Beijing,China,40.1824,116.4142,2020-02-19,145,122.0,23.0
13743,171,Beijing,China,40.1824,116.4142,2020-02-20,153,145.0,8.0
14211,171,Beijing,China,40.1824,116.4142,2020-02-21,169,153.0,16.0
14679,171,Beijing,China,40.1824,116.4142,2020-02-22,178,169.0,9.0
15147,171,Beijing,China,40.1824,116.4142,2020-02-23,189,178.0,11.0
15615,171,Beijing,China,40.1824,116.4142,2020-02-24,198,189.0,9.0
16083,171,Beijing,China,40.1824,116.4142,2020-02-25,215,198.0,17.0
16551,171,Beijing,China,40.1824,116.4142,2020-02-26,235,215.0,20.0
17019,171,Beijing,China,40.1824,116.4142,2020-02-27,248,235.0,13.0
17487,171,Beijing,China,40.1824,116.4142,2020-02-28,257,248.0,9.0
17955,171,Beijing,China,40.1824,116.4142,2020-02-29,271,257.0,14.0
18423,171,Beijing,China,40.1824,116.4142,2020-03-01,276,271.0,5.0
18891,171,Beijing,China,40.1824,116.4142,2020-03-02,282,276.0,6.0
19359,171,Beijing,China,40.1824,116.4142,2020-03-03,288,282.0,6.0
19827,171,Beijing,China,40.1824,116.4142,2020-03-04,297,288.0,9.0
20295,171,Beijing,China,40.1824,116.4142,2020-03-05,297,297.0,0.0
20763,171,Beijing,China,40.1824,116.4142,2020-03-06,299,297.0,2.0
21231,171,Beijing,China,40.1824,116.4142,2020-03-07,303,299.0,4.0
21699,171,Beijing,China,40.1824,116.4142,2020-03-08,308,303.0,5.0
22167,171,Beijing,China,40.1824,116.4142,2020-03-09,315,308.0,7.0
22635,171,Beijing,China,40.1824,116.4142,2020-03-10,320,315.0,5.0
23103,171,Beijing,China,40.1824,116.4142,2020-03-11,326,320.0,6.0
23571,171,Beijing,China,40.1824,116.4142,2020-03-12,334,326.0,8.0
24039,171,Beijing,China,40.1824,116.4142,2020-03-13,342,334.0,8.0
24507,171,Beijing,China,40.1824,116.4142,2020-03-14,349,342.0,7.0
24975,171,Beijing,China,40.1824,116.4142,2020-03-15,353,349.0,4.0
25443,171,Beijing,China,40.1824,116.4142,2020-03-16,360,353.0,7.0
25911,171,Beijing,China,40.1824,116.4142,2020-03-17,369,360.0,9.0
26379,171,Beijing,China,40.1824,116.4142,2020-03-18,378,369.0,9.0
26847,171,Beijing,China,40.1824,116.4142,2020-03-19,380,378.0,2.0

In [37]:
#Drop Prev Day Cout column
recovered_df = df_melt.drop(columns=['Count_Prev_Day'])
recovered_df.head()

,id,Province/State,Country/Region,Lat,Long,Date,recovered_to_date,new_recovered
0,0,NaN,Thailand,15.0000,101.0000,2020-01-22,0,0.0
1,1,NaN,Japan,36.0000,138.0000,2020-01-22,0,0.0
2,2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0.0
3,3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0.0
4,4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0.0

In [38]:
#Reset index and save prvious index as id column
deaths_df.reset_index(inplace=True)
deaths_df.head()

,index,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,...,10,15,16,19,22,22,27,29,29,29
2,2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2

In [39]:
#Rename to have id column
deaths_df = deaths_df.rename(columns={"index":"id"})
deaths_df.head()

,id,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20
0,0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,...,10,15,16,19,22,22,27,29,29,29
2,2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,...,0,0,0,0,0,0,0,2,2,2

In [40]:
#Transpose date columns to have as row values
df_melt = deaths_df.melt(id_vars=['id','Province/State','Country/Region','Lat','Long'])
df_melt.columns = ['id','Province/State','Country/Region','Lat','Long','Date','deaths_to_date']
df_melt['Date'] = pd.to_datetime(df_melt['Date'])
df_melt = df_melt.sort_values(['Date','id'])
df_melt['Count_Prev_Day'] = df_melt.sort_values('Date').groupby(['id','Province/State','Country/Region',
                                                                 'Lat','Long'])['deaths_to_date'].shift(1)
df_melt[['Count_Prev_Day']] = df_melt[['Count_Prev_Day']].fillna(value=0)
df_melt['new_deaths'] = df_melt['deaths_to_date'] - df_melt['Count_Prev_Day']

df_melt.head()

,id,Province/State,Country/Region,Lat,Long,Date,deaths_to_date,Count_Prev_Day,new_deaths
0,0,NaN,Thailand,15.0000,101.0000,2020-01-22,0,0.0,0.0
1,1,NaN,Japan,36.0000,138.0000,2020-01-22,0,0.0,0.0
2,2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0.0,0.0
3,3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0.0,0.0
4,4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0.0,0.0

In [41]:
#Filter on one location to make sure working correctly
df_melt[df_melt['Province/State'] == 'Beijing'].sort_values('Date')

,id,Province/State,Country/Region,Lat,Long,Date,deaths_to_date,Count_Prev_Day,new_deaths
171,171,Beijing,China,40.1824,116.4142,2020-01-22,0,0.0,0.0
639,171,Beijing,China,40.1824,116.4142,2020-01-23,0,0.0,0.0
1107,171,Beijing,China,40.1824,116.4142,2020-01-24,0,0.0,0.0
1575,171,Beijing,China,40.1824,116.4142,2020-01-25,0,0.0,0.0
2043,171,Beijing,China,40.1824,116.4142,2020-01-26,0,0.0,0.0
2511,171,Beijing,China,40.1824,116.4142,2020-01-27,1,0.0,1.0
2979,171,Beijing,China,40.1824,116.4142,2020-01-28,1,1.0,0.0
3447,171,Beijing,China,40.1824,116.4142,2020-01-29,1,1.0,0.0
3915,171,Beijing,China,40.1824,116.4142,2020-01-30,1,1.0,0.0
4383,171,Beijing,China,40.1824,116.4142,2020-01-31,1,1.0,0.0
4851,171,Beijing,China,40.1824,116.4142,2020-02-01,1,1.0,0.0
5319,171,Beijing,China,40.1824,116.4142,2020-02-02,1,1.0,0.0
5787,171,Beijing,China,40.1824,116.4142,2020-02-03,1,1.0,0.0
6255,171,Beijing,China,40.1824,116.4142,2020-02-04,1,1.0,0.0
6723,171,Beijing,China,40.1824,116.4142,2020-02-05,1,1.0,0.0
7191,171,Beijing,China,40.1824,116.4142,2020-02-06,1,1.0,0.0
7659,171,Beijing,China,40.1824,116.4142,2020-02-07,1,1.0,0.0
8127,171,Beijing,China,40.1824,116.4142,2020-02-08,2,1.0,1.0
8595,171,Beijing,China,40.1824,116.4142,2020-02-09,2,2.0,0.0
9063,171,Beijing,China,40.1824,116.4142,2020-02-10,2,2.0,0.0
9531,171,Beijing,China,40.1824,116.4142,2020-02-11,3,2.0,1.0
9999,171,Beijing,China,40.1824,116.4142,2020-02-12,3,3.0,0.0
10467,171,Beijing,China,40.1824,116.4142,2020-02-13,3,3.0,0.0
10935,171,Beijing,China,40.1824,116.4142,2020-02-14,3,3.0,0.0
11403,171,Beijing,China,40.1824,116.4142,2020-02-15,4,3.0,1.0
11871,171,Beijing,China,40.1824,116.4142,2020-02-16,4,4.0,0.0
12339,171,Beijing,China,40.1824,116.4142,2020-02-17,4,4.0,0.0
12807,171,Beijing,China,40.1824,116.4142,2020-02-18,4,4.0,0.0
13275,171,Beijing,China,40.1824,116.4142,2020-02-19,4,4.0,0.0
13743,171,Beijing,China,40.1824,116.4142,2020-02-20,4,4.0,0.0
14211,171,Beijing,China,40.1824,116.4142,2020-02-21,4,4.0,0.0
14679,171,Beijing,China,40.1824,116.4142,2020-02-22,4,4.0,0.0
15147,171,Beijing,China,40.1824,116.4142,2020-02-23,4,4.0,0.0
15615,171,Beijing,China,40.1824,116.4142,2020-02-24,4,4.0,0.0
16083,171,Beijing,China,40.1824,116.4142,2020-02-25,4,4.0,0.0
16551,171,Beijing,China,40.1824,116.4142,2020-02-26,4,4.0,0.0
17019,171,Beijing,China,40.1824,116.4142,2020-02-27,5,4.0,1.0
17487,171,Beijing,China,40.1824,116.4142,2020-02-28,7,5.0,2.0
17955,171,Beijing,China,40.1824,116.4142,2020-02-29,8,7.0,1.0
18423,171,Beijing,China,40.1824,116.4142,2020-03-01,8,8.0,0.0
18891,171,Beijing,China,40.1824,116.4142,2020-03-02,8,8.0,0.0
19359,171,Beijing,China,40.1824,116.4142,2020-03-03,8,8.0,0.0
19827,171,Beijing,China,40.1824,116.4142,2020-03-04,8,8.0,0.0
20295,171,Beijing,China,40.1824,116.4142,2020-03-05,8,8.0,0.0
20763,171,Beijing,China,40.1824,116.4142,2020-03-06,8,8.0,0.0
21231,171,Beijing,China,40.1824,116.4142,2020-03-07,8,8.0,0.0
21699,171,Beijing,China,40.1824,116.4142,2020-03-08,8,8.0,0.0
22167,171,Beijing,China,40.1824,116.4142,2020-03-09,8,8.0,0.0
22635,171,Beijing,China,40.1824,116.4142,2020-03-10,8,8.0,0.0
23103,171,Beijing,China,40.1824,116.4142,2020-03-11,8,8.0,0.0
23571,171,Beijing,China,40.1824,116.4142,2020-03-12,8,8.0,0.0
24039,171,Beijing,China,40.1824,116.4142,2020-03-13,8,8.0,0.0
24507,171,Beijing,China,40.1824,116.4142,2020-03-14,8,8.0,0.0
24975,171,Beijing,China,40.1824,116.4142,2020-03-15,8,8.0,0.0
25443,171,Beijing,China,40.1824,116.4142,2020-03-16,8,8.0,0.0
25911,171,Beijing,China,40.1824,116.4142,2020-03-17,8,8.0,0.0
26379,171,Beijing,China,40.1824,116.4142,2020-03-18,8,8.0,0.0
26847,171,Beijing,China,40.1824,116.4142,2020-03-19,8,8.0,0.0

In [42]:
#Drop prev day count column
deaths_df = df_melt.drop(columns=['Count_Prev_Day'])
deaths_df.head()

,id,Province/State,Country/Region,Lat,Long,Date,deaths_to_date,new_deaths
0,0,NaN,Thailand,15.0000,101.0000,2020-01-22,0,0.0
1,1,NaN,Japan,36.0000,138.0000,2020-01-22,0,0.0
2,2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0.0
3,3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0.0
4,4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0.0

In [43]:
# Merge confirmed and deaths df on all common columns
semicombined_df = pd.merge(confirmed_df, deaths_df, on=['id','Province/State','Country/Region','Lat','Long', 'Date'])
semicombined_df.head()

,id,Province/State,Country/Region,Lat,Long,Date,confirmed_to_date,new_confirmed,deaths_to_date,new_deaths
0,0,NaN,Thailand,15.0000,101.0000,2020-01-22,2,2.0,0,0.0
1,1,NaN,Japan,36.0000,138.0000,2020-01-22,2,2.0,0,0.0
2,2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0.0,0,0.0
3,3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0.0,0,0.0
4,4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0.0,0,0.0

In [44]:
#Merge semimerged df w recovered df on all common columns
combined_df = pd.merge(semicombined_df, recovered_df, on=['id','Province/State','Country/Region','Lat','Long','Date'])
combined_df.head()

,id,Province/State,Country/Region,Lat,Long,Date,confirmed_to_date,new_confirmed,deaths_to_date,new_deaths,recovered_to_date,new_recovered
0,0,NaN,Thailand,15.0000,101.0000,2020-01-22,2,2.0,0,0.0,0,0.0
1,1,NaN,Japan,36.0000,138.0000,2020-01-22,2,2.0,0,0.0,0,0.0
2,2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0.0,0,0.0,0,0.0
3,3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0.0,0,0.0,0,0.0
4,4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0.0,0,0.0,0,0.0

In [45]:
#Rename columns to format for SQL
final_df = combined_df.rename(columns={"id":"id_loc","Province/State": "province_state", "Country/Region": "country_region", "Lat":"lat", "Long": "long", "Date": "date"})
final_df.head()

,id_loc,province_state,country_region,lat,long,date,confirmed_to_date,new_confirmed,deaths_to_date,new_deaths,recovered_to_date,new_recovered
0,0,NaN,Thailand,15.0000,101.0000,2020-01-22,2,2.0,0,0.0,0,0.0
1,1,NaN,Japan,36.0000,138.0000,2020-01-22,2,2.0,0,0.0,0,0.0
2,2,NaN,Singapore,1.2833,103.8333,2020-01-22,0,0.0,0,0.0,0,0.0
3,3,NaN,Nepal,28.1667,84.2500,2020-01-22,0,0.0,0,0.0,0,0.0
4,4,NaN,Malaysia,2.5000,112.5000,2020-01-22,0,0.0,0,0.0,0,0.0

In [46]:
# conection to SPQ database 
rds_connection_string =f"postgres:00Hagase!@localhost:5432/COVID19_DB"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [47]:
engine.table_names()

['covid19']

In [48]:
# table with all data

final_df.to_sql(name='covid19', con=engine, if_exists='append', index=False)

In [49]:
## Confirm data has been queried properly
pd.read_sql_query('select * from covid19', con=engine).head()

,id,id_loc,province_state,country_region,lat,long,date,confirmed_to_date,new_confirmed,deaths_to_date,new_deaths,recovered_to_date,new_recovered
0,1,0,Anhui,Mainland China,31.8257,117.2264,2020-01-22,1,1,0,0,0,0
1,2,1,Beijing,Mainland China,40.1824,116.4142,2020-01-22,14,14,0,0,0,0
2,3,2,Chongqing,Mainland China,30.0572,107.8740,2020-01-22,6,6,0,0,0,0
3,4,3,Fujian,Mainland China,26.0789,117.9874,2020-01-22,1,1,0,0,0,0
4,5,4,Gansu,Mainland China,36.0611,103.8343,2020-01-22,0,0,0,0,0,0

In [50]:
pd.read_sql_query('select * from covid19 WHERE covid19.province_state = 'Beijing' ', con=engine).head()

SyntaxError: invalid syntax (<ipython-input-50-2a9be274a258>, line 1)